body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C70039;
}

.App {
  text-align: center;
}

.fire-data, .prevention-tips {
  margin: 20px 0;
  padding: 20px;
  background-color: #511845;
  color: #E6D5B8;
  border-radius: 10px;
}
