:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
    background-color: #E6D5B8;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}